.heading{
    position: relative;
    text-align: center;
}

.heading::before{
    content: "";
    display: block;
    height: 3px;
    width: 10%;
    background-color: #0c2ac1;
    position: absolute;
    bottom: 14px;
    left: 30%;
}


.heading::after{
    content: "";
    display: block;
    height: 3px;
    width: 10%;
    background-color: #0c2ac1;
    position: absolute;
    bottom: 14px;
    right: 30%;
}